<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="../layout/main.xhtml">

	<ui:define name="content">
		<p:panel id="categoryPanel" header="Busque sua Viagem">
			<h:form id="categoryForm">
				<p:messages id="messages" style="width: 500px;" />
				<p:panelGrid columns="6">
					<p:outputLabel for="dataInicio" value="Data Início: " />
					<p:calendar id="dataInicio" pattern="dd/MM/yyyy"
						value="#{viagemCtrl.dataInicioPesquisa}" showOn="button"
						required="true"
						requiredMessage="O campo data início da pesquisa é obrigatório.">
					</p:calendar>

					<p:outputLabel for="origem" value="Cidade Origem: " />
					<p:inputText id="origem" value="#{viagemCtrl.cidadeOrigem}"
						style="width:300px" required="true"
						requiredMessage="O campo cidade origem é obrigatório." />

					<p:commandButton value="Buscar" icon="ui-icon-check"
						style="width:300px;height:35px;"
						action="#{viagemCtrl.pesquisarViagemApi}" update="@form">

					</p:commandButton>
				</p:panelGrid>
				<br/>
				<p:outputLabel for="viagemDataTable">
					<font size="4" color="Black">Esses são os destinos mais baratos com os parâmetros pesquisados</font>
				</p:outputLabel>
				<p:dataTable id="viagemDataTable" widgetVar="dataTable" var="viagem"
					loadingMessage="Pesquisando" value="#{viagemCtrl.listaAmadeus}"
					paginator="true" rows="10"
					emptyMessage="Nenhum registro encontrado"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,20">

					<p:growl id="growl" showDetail="true" sticky="true" />
					<p:column>
						<f:facet name="header">
							<h:outputText value="Linha Aérea" />
						</f:facet>
						<h:outputText value="#{viagem.linhaAerea}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Destino" />
						</f:facet>
						<h:outputText value="#{viagem.destino}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Data da Saída" />
						</f:facet>
						<h:outputText value="#{viagem.dataSaida}">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Preço" />
						</f:facet>
						<h:outputText value="#{viagem.preco}" />
					</p:column>
				</p:dataTable>
				<p:panelGrid columns="1">
					<a href="http://www.iata.org/publications/Pages/code-search.aspx" target="_blank">
					Buscar código IATA linhas aéreas e cidades
					</a>
				</p:panelGrid>
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>