<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="../layout/main.xhtml">

	<ui:define name="content">
		<p:panel id="categoryPanel" header="Busque sua Viagem">
			<h:form id="categoryForm">
				<p:messages id="messages" style="width: 500px;" />
				<p:panelGrid columns="4">
					<p:outputLabel for="dataInicio" value="Data Início: " />
					<p:calendar id="dataInicio" pattern="dd/MM/yyyy"
						value="#{viagemCtrl.dataInicioPesquisa}" showOn="button"
						required="true"
						requiredMessage="O campo data início da pesquisa é obrigatório.">
					</p:calendar>

					<p:outputLabel for="origem" value="Cidade Origem: " />
					<p:inputText id="origem" value="#{viagemCtrl.cidadeOrigem}"
						style="width:300px" required="true"
						requiredMessage="O campo cidade origem é obrigatório." />

					<p:outputLabel for="dataFim" value="Data Fim: " />
					<p:calendar id="dataFim" value="#{viagemCtrl.dataFimPesquisa}"
						showOn="button" required="true" pattern="dd/MM/yyyy"
						requiredMessage="O campo data fim da pesquisa é obrigatório.">
					</p:calendar>

					<p:outputLabel for="destino" value="Cidade Destino: " />
					<p:inputText id="destino" value="#{viagemCtrl.cidadeDestino}"
						style="width:300px" required="true"
						requiredMessage="O campo cidade destino é obrigatório." />

					<h:inputHidden />
					<p:commandButton value="Buscar" icon="ui-icon-check"
						style="width:300px;height:35px;"
						action="#{viagemCtrl.pesquisarViagem}" update="@form">

					</p:commandButton>
					<h:inputHidden />
					<h:inputHidden />
				</p:panelGrid>

				<p:outputLabel for="viagemDataTable">
					<font size="4" color="Black">Essas são as viagens mais
						baratas no período escolhido</font>
				</p:outputLabel>
				<p:dataTable id="viagemDataTable" widgetVar="dataTable" var="viagem"
					loadingMessage="Pesquisando" value="#{viagemCtrl.listaViagens}"
					paginator="true" rows="10"
					emptyMessage="Nenhum registro encontrado"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,20" rowKey="#{viagem.id}">

					<p:growl id="growl" showDetail="true" sticky="true" />
					<p:column>
						<f:facet name="header">
							<h:outputText value="Site" />
						</f:facet>
						<h:outputText value="#{viagem.site}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Link Pagina" />
						</f:facet>
						<h:outputText value="#{viagem.link}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Data da Viagem" />
						</f:facet>
						<h:outputText value="#{viagem.dataViagem}">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Cidade Origem" />
						</f:facet>
						<h:outputText value="#{viagem.origem}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Cidade Destino" />
						</f:facet>
						<h:outputText value="#{viagem.destino}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Preço" />
						</f:facet>
						<h:outputText value="#{viagem.preco}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Ação" />
						</f:facet>
						<p:commandButton value="favoritar" icon="ui-icon-star"
							action="#{viagemCtrl.favoritar(viagem)}" update="@form">
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>