<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="../layout/main.xhtml">

	<ui:define name="content">
		<f:view>
			<f:event listener="#{viagemCtrl.carregarFavoritos}"
				type="preRenderView" />
		</f:view>

		<p:panel id="categoryPanel" header="Favoritos">
			<h:form id="categoryForm">
				<p:outputLabel for="viagemDataTable">
					<font size="4" color="Black">Viagens favoritadas</font>
				</p:outputLabel>
				<p:dataTable id="viagemDataTable" widgetVar="dataTable" var="viagem"
					loadingMessage="Pesquisando" value="#{viagemCtrl.listaFavoritos}"
					paginator="true" rows="10" emptyMessage="Nenhum registro encontrado"
					paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,20" rowKey="#{viagem.id}">

					<p:growl id="growl" showDetail="true" sticky="true" />
					<p:column>
						<f:facet name="header">
							<h:outputText value="Site" />
						</f:facet>
						<h:outputText value="#{viagem.site}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Link Pagina" />
						</f:facet>
						<h:outputText value="#{viagem.link}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Data da Viagem" />
						</f:facet>
						<h:outputText value="#{viagem.dataViagem}">
							<f:convertDateTime pattern="dd/MM/yyyy" timeZone="GMT-03:00" />
						</h:outputText>
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Cidade Origem" />
						</f:facet>
						<h:outputText value="#{viagem.origem}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Cidade Destino" />
						</f:facet>
						<h:outputText value="#{viagem.destino}" />
					</p:column>

					<p:column>
						<f:facet name="header">
							<h:outputText value="Preço" />
						</f:facet>
						<h:outputText value="#{viagem.preco}" />
					</p:column>
					<p:column>
						<f:facet name="header">
							<h:outputText value="Ação" />
						</f:facet>
						<p:commandButton value="remover" icon="ui-icon-circle-close"
							action="#{viagemCtrl.removerFavorito(viagem)}" update="@form">
							<p:confirm header="Confirmation" message="Deseja realmente excluir?" icon="ui-icon-alert" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
				<p:growl id="confirm" showDetail="true" />
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Sim" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="Não" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:panel>

	</ui:define>
</ui:composition>