<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="../layout/main.xhtml">

	<ui:define name="content">
		<p:panel id="categoryPanel" header="Gráfico de Preços">
			<h:form id="categoryForm">
				<p:messages id="messages" style="width: 500px;" />
				<p:panelGrid columns="4">
					<p:outputLabel for="dataInicio" value="Data Início: " />
					<p:calendar id="dataInicio" pattern="dd/MM/yyyy"
						value="#{graficoCtrl.dataInicioPesquisa}" showOn="button"
						required="true"
						requiredMessage="O campo data início da pesquisa é obrigatório.">
					</p:calendar>

					<p:outputLabel for="origem" value="Cidade Origem: " />
					<p:inputText id="origem" value="#{graficoCtrl.cidadeOrigem}"
						style="width:300px" required="true"
						requiredMessage="O campo cidade origem é obrigatório." />

					<p:outputLabel for="dataFim" value="Data Fim: " />
					<p:calendar id="dataFim" value="#{graficoCtrl.dataFimPesquisa}"
						showOn="button" required="true" pattern="dd/MM/yyyy"
						requiredMessage="O campo data fim da pesquisa é obrigatório.">
					</p:calendar>

					<p:outputLabel for="destino" value="Cidade Destino: " />
					<p:inputText id="destino" value="#{graficoCtrl.cidadeDestino}"
						style="width:300px" required="true"
						requiredMessage="O campo cidade destino é obrigatório." />

					<h:inputHidden />
					<p:commandButton value="Buscar" icon="ui-icon-check"
						style="width:300px;height:35px;"
						action="#{graficoCtrl.montarGrafico}" update="@form">
					</p:commandButton>
					<h:inputHidden />
					<h:inputHidden></h:inputHidden>
				</p:panelGrid>
				<p:chart type="pie" model="#{graficoCtrl.graficoPizza}"
					style="width:400px;height:300px" />
			</h:form>
		</p:panel>
	</ui:define>
</ui:composition>