<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/public/img/travel.ico" />
	<title>Cadastrar</title>
</h:head>

<h:body>
	<div id="content" title="Cadastrar">
		<p:dialog header="Cadastrar" id="dialog" minWidth="500" width="600"
			modal="true" closable="false" position="center" showEffect="slide"
			draggable="true" resizable="false" visible="true">

			<f:view>
				<f:event listener="#{usuarioCtrl.inicializarCadastro}" type="preRenderView"></f:event>
			</f:view>
			<h:form>
				<p:growl id="growl" showDetail="true" sticky="true" />
				<p:panelGrid columns="1" style="width: 500px">
				</p:panelGrid>
				<p:messages id="messages" style="width: 500px;" />
				<p:panelGrid columns="2" style="width: 500px;" id="panelCadastro">
					<h:inputHidden />
					<h:inputHidden id="id" value="#{usuarioCtrl.usuario.id}" />

					<p:outputLabel for="nome" value="Nome:" />
					<p:inputText id="nome" value="#{usuarioCtrl.usuario.nome}"
						style="width:300px" required="true"
						requiredMessage="O campo nome é obrigatório." />

					<p:outputLabel for="email" value="Email:" />
					<p:inputText id="email" value="#{usuarioCtrl.usuario.email}"
						style="width:300px" required="true"
						requiredMessage="O campo email é obrigatório."
						validatorMessage="Formato de email inválido">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>


					<p:outputLabel for="senha" value="Senha:" />
					<p:password id="senha" value="#{usuarioCtrl.usuario.senha}"
						feedback="true" promptLabel="Digite a senha"
						weakLabel="Força da senha : Fraca"
						goodLabel="Força da senha : Média"
						strongLabel="Força da senha : Forte" required="true"
						requiredMessage="O campo senha é obrigatório." />

					<p:outputLabel for="lembrete" value="Lembrete:" />
					<p:inputText id="lembrete"
						value="#{usuarioCtrl.usuario.lembreteSenha}" required="false"
						requiredMessage="O campo lembrete de senha é obrigatório." />

					<p:outputLabel for="estado" value="Estado:" />
					<p:selectOneMenu id="estado"
						value="#{usuarioCtrl.estadoSelecionado}" style="width:150px"
						required="true" requiredMessage="O campo estado é obrigatório.">
						<f:selectItem itemLabel="Selecione Opção" itemValue="" />
						<f:selectItems value="#{usuarioCtrl.listaEstados}" var="estado"
							itemLabel="#{estado.nome}" itemValue="#{estado.uf}" />
						<f:ajax event="change" listener="#{usuarioCtrl.estadoChanged}"
							render="@this cidade" />
					</p:selectOneMenu>

					<p:outputLabel for="cidade" value="Cidade:" />
					<p:selectOneMenu id="cidade"
						value="#{usuarioCtrl.idCidadeSelecionada}" required="true"
						requiredMessage="O campo cidade é obrigatório."
						style="width:150px">
						<f:selectItem itemLabel="Selecione Opção" itemValue="" />
						<f:selectItems value="#{usuarioCtrl.listaCidade}" var="cidade"
							itemLabel="#{cidade.nome}" itemValue="#{cidade.id}" />
						<f:ajax event="change" listener="#{usuarioCtrl.cidadeChanged}"
							render="@this" />
					</p:selectOneMenu>

					<p:commandButton value="Salvar" icon="ui-icon-check"
						action="#{usuarioCtrl.cadastrar}" update="messages">
					</p:commandButton>
					<p:commandButton value="Voltar" icon="ui-icon-arrowreturnthick-1-w"
						action="home.xhtml?faces-redirect=true" immediate="true">
					</p:commandButton>

				</p:panelGrid>
				<p:growl id="confirm" showDetail="true" />
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<p:commandButton value="Sim" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="Não" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>

		</p:dialog>
	</div>
</h:body>
</html>