<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/public/img/travel.ico" />
	<title>Like Travel</title>
</h:head>

<h:body>
	<div id="content" title="Like Travel">
		<p:dialog header="Gerar Senha" id="dialog" minWidth="500" width="600"
			modal="true" closable="false" position="center" showEffect="slide"
			draggable="true" resizable="false" visible="true">
			<h:form>
				<p:messages id="messages" style="width: 500px;" />
				<p:panelGrid columns="2" style="width: 100%; text-align:left;"
					layout="grid" >
					<p:outputLabel for="email" value="Email:" />
					<p:inputText id="email" value="#{usuarioCtrl.emailRecuperarSenha}"
						required="true" requiredMessage="O campo email é obrigatório."
						validatorMessage="Formato de email inválido" style="width:250px">
						<f:validateRegex
							pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
					</p:inputText>
					<h:inputHidden />
					<p:panelGrid columns="2">
						<p:commandButton value="Gerar Senha" icon="ui-icon-key"
							action="#{usuarioCtrl.gerarNovaSenha}" update="@form">
						</p:commandButton>
						<p:commandButton value="Login" icon="ui-icon-arrowreturnthick-1-w"
							action="login.xhtml?faces-redirect=true" immediate="true">
						</p:commandButton>
					</p:panelGrid>
				</p:panelGrid>
			</h:form>

		</p:dialog>
	</div>
</h:body>
</html>