<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<link rel="shortcut icon" type="image/x-icon"
		href="#{request.contextPath}/public/img/travel.ico" />
	<title>Login</title>
</h:head>

<h:body onload="document.content.dialog.login.j_username.focus();">
	<div id="content" title="Like Travel Login">
		<p:dialog header="Like Travel Login" id="dialog" minWidth="500"
			width="320" modal="true" closable="false" position="center"
			showEffect="slide" draggable="true" resizable="false" visible="true">
			<form name='login' action="j_spring_security_check" method='post'>
				<p:panelGrid columns="2">
					<h:outputLabel for="j_username" value="Usuário *: " />
					<p:inputText id="j_username" requerid="true" />

					<h:outputLabel for="j_password" value="Senha *: " />
					<p:password id="j_password" requerid="true" />

					<f:facet name="footer">
						<p:row>
							<c:if test="${param.erro == 'true'}">
								<h:outputText value="Usuário ou senha inválidos"
									style="color: red; font-size: small;" />
								<br />
								<br />
							</c:if>

							<p:outputPanel style="width: 100%; text-align:center"
								layout="block">
								<input name="submit" type="submit" value="Logar" />&nbsp;&nbsp;&nbsp;
								<input name="Voltar" type="button" value="Voltar" onclick="location.href='home.xhtml?faces-redirect=true';"/>
							</p:outputPanel><br/>
							<p:outputPanel style="width: 100%; text-align:left"
								layout="block">
								<a href="geraSenha.xhtml?faces-redirect=true">Recuperar Senha</a>
							</p:outputPanel>
						</p:row>
					</f:facet>
				</p:panelGrid>
			</form>

		</p:dialog>
	</div>
</h:body>
</html>