<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui" template="layout/main.xhtml">

	<ui:define name="content">
		<f:view>
			<f:event listener="#{homeCtrl.carregarUsuarioLogado}" type="preRenderView"></f:event>
		</f:view>
		<p:panel style="width: 500px;">
			<font size="2"> O sistema LikeTravel tem como propósito
				contribuir com informações de quando será mais barato viajar para o
				local desejado. O software fará análise de passagens de avião e
				devolverá os dados detalhados. Assim você poderá escolher entre
				datas e escolher datas específicas para a viagem; por período. </font>
		</p:panel>
	</ui:define>
</ui:composition>