<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html">

<body>
	<ui:composition>
		<div id="mainFooter" align="center">
			Copyright 2018 <img src="#{request.contextPath}/resources/img/travel.ico"
			alt="Like Travel" width="11" height="11" /> <a href="#{request.contextPath}">Like Travel</a>
			All rights reserved.
		</div>
	</ui:composition>
</body>
</html>