<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition>
		<div id="mainHeader" align="left">
			<table style="width: 100%" bgcolor="#438eb9" border="0">
				<tr>
					<th align="left">
						<a href="../home.xhtml?faces-redirect=true">
						<img src="#{request.contextPath}/resources/img/banner.png"
							alt="Like Travel" style="width: 335px; height: 83" /></a>
					</th>
					<th align="right" style="width: 200px; height: 100%; "><!-- background-color: SkyBlue; -->
						<div align="center">
						<font size="2" color="#ffffff">Bem-Vindo(a)<br/> #{homeCtrl.usuarioLogado.nome}</font>
						</div>
					</th>
				</tr>
			</table>
		</div>
		
	</ui:composition>
</body>
</html>