<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">
	
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="Pragma" content="no-cache" />
		<meta http-equiv="Cache-Control" content="no-cache" />
		<meta http-equiv="Expires" content="0" />
		<link rel="shortcut icon" type="image/x-icon" href="#{request.contextPath}/resources/img/travel.ico" />
		<link rel="stylesheet" type="text/css" href="#{request.contextPath}/resources/css/main.css" />
		<script type="text/javascript" src="#{request.contextPath}/resources/js/main.js" />
		<title>Like Travel</title>
	</h:head>
	
	<h:body onload="disableButtons();">	
		<p:layout fullPage="true">
			<p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="false">
				<ui:include src="header.xhtml" />
			</p:layoutUnit>
			
			<p:layoutUnit position="south" size="30" resizable="false" closable="false" collapsible="false">
				<ui:include src="footer.xhtml" />
			</p:layoutUnit>
			
			<p:layoutUnit position="west" size="200" header="#{labels.menu_name}" resizable="false" closable="false" collapsible="false">
				<ui:include src="menu.xhtml" />
			</p:layoutUnit>
			
			<p:layoutUnit position="center">
				<ui:insert name="content"/>
			</p:layoutUnit>
		</p:layout>
	</h:body>
</html>