<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:p="http://primefaces.org/ui">

<body>
	<ui:composition>
		<div id="mainMenu">
			<h:form>
				<p:panelMenu>
					<p:submenu label="Viagens">
						<p:menuitem value="Nova Consulta"
							url="/pages/viagem/consulta.xhtml" icon="ui-icon-search" />
						<p:menuitem value="Grafico de preços"
							url="/pages/viagem/grafico.xhtml" icon="ui-icon-calculator" />
						<p:menuitem value="Amadeus Api"
							url="/pages/viagem/amadeusApi.xhtml" icon="ui-icon-script" />
						<p:menuitem value="Favoritos" url="/pages/viagem/favoritos.xhtml"
							icon="ui-icon-star" />
					</p:submenu>
					<p:submenu label="Perfil">
						<p:menuitem value="Alterar Dados"
							url="/pages/usuario/alterar.xhtml" ajax="false"
							icon="ui-icon-person" />
						<p:menuitem value="Desolgar" url="/j_spring_security_logout"
							ajax="false" icon="ui-icon-unlocked" />
					</p:submenu>
				</p:panelMenu>
			</h:form>
		</div>
	</ui:composition>
</body>
</html>